*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/netservice/build
/viewsource/build
/imuikit/build
/djpay/build
.idea
/captures
.gradletasknamecache
.fastlane/README.md
.fastlane/report.xml
djemoj/
studiores/
/mzbanner/build
/app/official
/app/ali
/app/anzhi
/app/baidu
/app/huawei
/app/meizu
/app/myapp
/app/oppo
/app/quhu360
/app/samsung
/app/toutiao
/app/vivo
/app/xiaomi

# Project exclude paths
/app/.cxx/